* {
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  height: 100%;
}

/* <----------Navbar---------> */

#navbar {
  background-color: #6f6af7;
  height: 14vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  width: 100%;
  z-index: 1;
}

#heading h1 {
  font-family: "Delius Unicase", cursive;
  font-weight: 700;
  color: #ffffff;
  font-size: 4em;
}

#nav-items {
  width: 60vw;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: "DM Sans", sans-serif;
  color: #ffffff;
  font-weight: 400;
  font-size: 1.4rem;
}

#nav-items p {
  cursor: pointer;
}

#nav-items input {
  width: 22vw;
  height: 3.2vw;
  border: none;
  border-radius: 5vw;
  padding: 0 2vw;
  font-size: 0.8em;
}

#nav-items .search {
  position: absolute;
  width: 1.5vw;
  margin: 0.7vw -3vw;
  cursor: pointer;
}

#menu img {
  width: 4.2vw;
  height: 2.9vw;
  cursor: pointer;
}

/* <------------Image & TextArea-----------> */

#main {
  width: 80vw;
  display: flex;
  justify-content: end;
  align-items: center;
  padding: 10vw 0 0 0;
  margin-left: 13.6vw;
}

#dev-img img {
  height: 48vh;
  width: 23vw;
  border-radius: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.7);
}

#txt-area textarea {
  width: 55vw;
  height: 42vh;
  margin: 1.7vw;
  background-color: #e5d8ff;
  color: #6f7373;
  border-radius: 20px;
  border: 0.3vw solid #ffffff;
  box-shadow: inset 0 4px 4px 0 rgba(0, 0, 0, 0.05),inset 0 6px 20px 0 rgba(0, 0, 0, 0.11);
  font-family: "DM Sans", sans-serif;
  padding: 20px 25px;
  font-size: 1.2em;
}

/* ------Help-logo-------- */

#help-logo {
  border-radius: 50%;
  background-color: white;
  position: fixed;
  bottom: 0.4vw;
  right: 6.3vw;
  padding: 0.5vw;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.3);
  z-index: 1;
}

#help-logo img {
  width: 4vw;
  cursor: pointer;
}

/* <---------Float-Media Icons----------> */

#media-icons {
  width: 5.3vw;
  height: 16vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 10px;
  margin-top: 33vh;
  position: sticky;
  float: right;
  top: 20vh;
}

.media-logo img {
  background-color: white;
  height: 60px;
  cursor: pointer;
  padding: 5px;
  border: 2px solid #000000;
  border-radius: 0.4vw;
}

/* <--------- Cards -----------> */

#cards {
  display: flex;
  height: 7vw;
  justify-content: center;
  align-items: end;
  margin: 1.5vw 0 7vw 1vw;
  padding: 0 0 1vw 0;
}

.card {
  width: 13vw;
  height: 4vw;
  padding: 1vw 3.1vw 1vw 1.5vw;
  margin: 0 2.5vw;
  background-color: #c2a9a9;
  border-radius: 0.5vw;
  line-height: 1.9vw;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.5);
  font-family: "DM Sans", sans-serif;
  font-weight: 600;
  font-size: 1em;
  color: #ffffff;
  letter-spacing: 0.1vw;
}

#card1 {
  background-color: #929dff;
}
#card2 {
  background-color: #734cf2;
}
#card3 {
  background-color: #d288ff;
}
#card4 {
  background-color: #000000;
}

/* <----------- Information-div ----------> */

#info {
  background-color: #483eff;
  height: 28vw;
  width: 88vw;
  display: flex;
  margin: 0 7vw 3vw 6vw;
  justify-content: space-around;
  align-items: center;
  border-radius: 1.5vw;
}

#buttons {
  display: flex;
  flex-direction: column;
}

#buttons button {
  padding: 2vw 4.5vw;
  margin: 1.3vw 1vw;
  border-radius: 0.9vw;
  font-family: "DM Sans", sans-serif;
  font-weight: 600;
  font-size: 1.4em;
  letter-spacing: 0.1vw;
}

.non-selected {
  background-color: #483eff;
  color: #ffffff;
  border: 0.2em solid #ffffff;
}
#selected {
  background-color: #bce0f6;
  color: #000000;
  border: none;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.5);
}

#information {
  background-color: #fff;
  width: 52vw;
  height: 20vw;
  border-radius: 0.9vw;
  padding: 2.5vw 4vw;
}

#inter {
  font-size: 2em;
  font-weight: 700;
  font-family: "Inter", sans-serif;
  line-height: 4vw;
  color: #04285a;
}

#information p {
  font-family: "Roboto", sans-serif;
  line-height: 2.5vw;
}

#arrow {
  display: flex;
  width: 9vw;
  height: 3vw;
  justify-content: center;
  align-items: center;
  padding: 0.4vw 1.3vw;
  background-color: #000000;
  color: #fff;
  font-family: "Roboto", sans-serif;
  border-radius: 0.5vw;
  font-size: 2em;
  font-weight: 400;
  position: relative;
  left: 42vw;
  top: 3vw;
  cursor: pointer;
}
